import java.util.Scanner;

public class cargascal {
    public static void main(String[] args) {
        Scanner scanner = new Scanner(System.in);

        System.out.println("Araciniz kilometrede kac TL yakiyor: Ornek 0,52");
        double tutar = scanner.nextDouble();

        System.out.println("Aracinizin Kac Kilometre Gittigi: ");
        int KM = scanner.nextInt();

        double Tutar = tutar*KM;

        System.out.println("Aracinizin toplamda harcadigi bedel: " + Tutar);


